anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
build
certifi
cffi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
defusedxml
exceptiongroup
executing
fastjsonschema
fonttools
fqdn
gdal
h11
httpcore
httpx
idna
iniconfig
ipykernel
ipython
isoduration
jedi
jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
jupyter-events
jupyter-lsp
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
kiwisolver
lark
markupsafe
matplotlib
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook-shim
numpy
optype
overrides
packaging
pandocfilters
parso
pexpect
pillow
pip
platformdirs
pluggy
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
pygments
pyparsing
pyproject-hooks
pytest
python-dateutil
python-json-logger
pyyaml
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rpds-py
scipy
scipy-stubs
send2trash
setuptools
six
sniffio
soupsieve
stack-data
terminado
tinycss2
tomli
tornado
traitlets
typing-extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
